.funny-glasses {
    position: relative;
    bottom: 6.7em;
    left: 13.3em;
}

.bandana {
    position: absolute;
    bottom: 4.7em;
    left: 6.7em;
}

.pawprint {
    position: fixed;
    top: 3em;
    left: 4.1em;
}

.stick-corgi {
    position: sticky;
    left: 10px;
}

